.body {
    background-color: lightblue;

}

.btn-pink{
    background-color: pink;
}

#nav-bar{
    margin-bottom: 10%;

}

#form{
    width: 100%;
   display:flex;
    justify-content:center;
}

.button-def{
    list-style: none;
}

.adding-flex{
    display:flex;
    justify-content: flex-start;

}

.adding-flex-second{
    display:flex;
    justify-content: flex-end;

}
.navbar a{
    text-decoration: none;
    color: black;
}

.carousel-image{
    width: 500px;
    height: 450px;
}

.contact{
    background-color: pink;
}

.registrar{
    display: flex;
    justify-content: center;
}

.background{
    background-image: url(../images/paper2.jpeg);

}

body{
    background-color: #604444;
}
